* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    color: #111 !important;
}

body, header {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

h3 {
  margin-top: 0;
}

.container {
  margin: 0 auto;
  max-width: 1900px;
  padding-left: 15px;
  padding-right: 15px;
  width: 83.33333%;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#list {
  display: block;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  height: 100%;
  list-style-type: none;
  margin: 0px;
  padding: 0px 0px 10px 0px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
}

.list-menu {
  margin-top: 100px !important;
}

#logo {
  display: inline-block;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: left;
  padding-bottom: 24px;
  padding-top: 24px;
}

.title {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 8px;
  padding: 10px 15px 35px 15px;
  text-align: center;
  text-transform: uppercase;
}

ul {
  /*padding-left: 0px;*/
}


.nav-item {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 5px;
  position: relative;
  text-align: left;
  text-decoration: none !important; /* here it is*/
}


.nav-item:hover:before {
  background: #607080;
  text-decoration: none;
  transition: width .7s ease;
  width: 100;
}

.nav-item:hover:after {
  background: transparent;
  text-decoration: none;
  transition: all 0s ease;
  width: 100%;
}

.fadeInDown {
  animation-name: fadeInDown;
}

.fadeIn {
  animation-delay: 1s;
  animation-duration: 3s;
  animation-name: fadeIn;
}

.animated {
  animation-fill-mode: both;
}


.overview {
  display: inherit;
}

#projects,
#featured-project {
  display: block;
  padding: 10%;
}


.projects-entry,
.featured-project-entry {
  margin-bottom: 36px;
  padding-bottom: 36px;
}

.project-pic {
  border: 1px solid #021a40;
  border-radius: 2% 2% 2% 2%;
  margin: 0px 40px 40px 0px;
  /*margin-right: 40px;*/
  padding: 0px 0px 0px 0px;
  height: 200px;
  width: 320px;
}

.link-button {
  background-color: #2196f3;
  color: #fff !important;
  margin-right: 8px;
  padding: .5em 1em;
}

.link-button:hover {
  background-color: #0d47a1;
}

/* FOOTER */

.social-media {
}

footer {
  background-color: #e0e0e0;
  bottom: 0;
  font-family: Helvetica, sans-serif;
  padding: 1rem;
  position: fixed;
  text-align: center;
  width: inherit;
}

.icon {
  background-color: #e0e0e0;
  padding-left: 5px;
  padding-right: 5px;
}

@media only screen and (max-width: 991px) {
  h3 { margin-top: 24px; }
}
