* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    color: #111 !important;
}

body, header {
  font-family: 'Montserrat', Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding-left: 15px;
  padding-right: 15px;
  width: 83.33333%;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}


#logo {
  display: inline-block;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: left;
  padding-bottom: 24px;
  padding-top: 24px;
}

ul {
  /*padding-left: 0px;*/
}

#list {
  display: block;
  font-family: "Montserrat", Helvetica, sans-serif;
  height: 100%;
  list-style-type: none;
  margin: 0px;
  padding: 0px 0px 10px 0px;
  position: relative;
  text-align: left;
}

.nav-item {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 5px;
  position: relative;
  text-align: left;
  text-decoration: none !important;
}


.nav-item:hover:before {
  background: #607080;
  text-decoration: none;
  transition: width .7s ease;
  width: 100;
}

.nav-item:hover:after {
  background: transparent;
  text-decoration: none;
  transition: all 0s ease;
  width: 100%;
}

.fadeInDown {
  animation-name: fadeInDown;
}

.fadeIn {
  animation-delay: 1s;
  animation-duration: 3s;
  animation-name: fadeIn;
}

.animated {
  animation-fill-mode: both;
}

.title {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 8px;
  padding: 10px 15px 35px 15px;
  text-align: center;
  text-transform: uppercase;
}

.overview {
  display: inherit;
}

.project {
  border-radius: 10% 10% 10% 10%;
  margin: 10%;
}

.project-pic {
  border: 1px solid #021a40;
  border-radius: 10% 10% 10% 10%;
  margin: 10%;
  height: 150px;
  width: 230px;
}

/* FOOTER */

.social-media {
  position: fixed;
}

.footer {
  background-color: #f5f5f5;
  font-family: "Open Sans", Helvetica, sans-serif;
  padding: 1rem;
  position: absolute;
  text-align: center;
  width: 100%;
}

.icon {
  background-color: #f5f5f5;
  padding-left: 5px;
  padding-right: 5px;
}
