* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  font-family: "Revalia", cursive;
  color: #2d3c49;
}

.title-super {
  font-size: 40px;
}

.title-logo {
  height: 100px;
  width: 100px;
  margin-top: 15px;
}

.rule {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  width: 83.33333%;
  padding-left: 15px;
  padding-right: 15px;
}

.big-image {
  display: block;
  width: 100%;
  margin: 2%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2%;
}

.small-image {
  border-radius: 2%;
}

.text-muted {
  color: #7d97ad;
}

.text-thin {
  font-weight: 400;
}

.row {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
}

.min {
  min-width: 48px;
  min-height: 48px;
}

.wrap {
  flex-wrap: wrap;
}

.contact {
  color: #2d3c49;
  min-height: 10px;
}

.contact_margin {
  padding: 20px;
}
